.container{
    display: flex;
    justify-content: space-around;
}


.box{
    width: 100px;
    height: 100px;
    background-color: chartreuse;
}

@media screen and (max-width:700px){
    .container{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .box{
        margin: 10px;

        background-color: crimson;
    }
}

