.left-sec,.right-sec{
    height: 570px;
    
}
.line-lenght{
    width: 400px;
  .line-left{
        height: 3px;
      background-color: deepskyblue;
  }
  .line-right{
    height: 3px;

      background-color: black;
  }
}